/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
html {
  font-size: 62.5%;
}

body {
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Alata", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: 0;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.body {
  display: grid;
  gap: 9.6rem;
}

.header {
  min-height: 100vh;
  background: url("../images/mobile/image-hero.jpg") center/cover;
  padding-block: clamp(1.6rem, 1.029rem + 1.786vw, 2.4rem);
}
.header__title {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  font-size: clamp(3.2rem, 2.643rem + 1.739vw, 4rem);
  padding: clamp(1.8rem, 0.229rem + 4.911vw, 4rem) clamp(2.4rem, 1.257rem + 3.571vw, 4rem);
  border: 1px solid #ffffff;
  align-self: center;
  text-transform: uppercase;
  bottom: 50%;
  transform: translateY(50%);
  position: absolute;
  max-width: 65rem;
}
.header .wrapper {
  position: relative;
  height: 100%;
}

.wrapper {
  width: min(90%, 111rem);
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.nav__menu {
  border: none;
  background-color: transparent;
  z-index: 250;
}
.nav__menu-close {
  display: none;
}
.nav:has(.nav__list[aria-expanded=true]) .nav__menu-close {
  display: block;
}
.nav:has(.nav__list[aria-expanded=true]) .nav__menu-icon {
  display: none;
}
.nav__logo {
  z-index: 250;
}
.nav__list {
  position: fixed;
  background-color: #000000;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: grid;
  gap: 2.4rem;
  padding: 0;
  list-style: none;
  inset: 0 0 0 100%;
  width: 100%;
  height: 100vh;
  z-index: 200;
  justify-content: center;
  align-content: center;
  transition: inset 300ms ease;
}
.nav__list[aria-expanded=true] {
  inset: 0 0 0 0;
}
.nav__link {
  color: #ffffff;
  text-decoration: none;
}

.about .wrapper {
  display: grid;
  gap: 4.8rem;
}
.about__content {
  display: grid;
  gap: 1.6rem;
  max-width: 27.9rem;
  margin: auto;
}
.about__title {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
}
@media (min-width: 48rem) {
  .about__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 4.8rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
  }
}
.about__description {
  font-family: "Alata", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: 0;
  opacity: 0.5;
  text-align: center;
}
.about__image {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.creations .wrapper {
  display: grid;
  gap: 3.2rem;
}
.creations__title {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
}
@media (min-width: 48rem) {
  .creations__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 4.8rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
  }
}
.creations__title {
  margin-bottom: 1.6rem;
}
.creations__list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 2.4rem;
}
.creations__button {
  padding: 1.3rem 4rem;
  font-family: "Alata", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.5rem;
  background-color: transparent;
  border: 1px solid black;
  width: fit-content;
  margin-inline: auto;
  transition: background-color 300ms ease, color 600ms ease;
}
.creations__button:hover {
  background-color: #000000;
  color: #ffffff;
}

.creation {
  position: relative;
}
.creation::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 300ms ease;
  z-index: 100;
}
.creation:hover::before {
  opacity: 0.75;
}
.creation__image {
  max-height: 12rem;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.creation::after {
  content: "";
  position: absolute;
  inset: 0 30% 0 0;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 60%);
  z-index: 10;
}
.creation__title {
  position: absolute;
  color: #ffffff;
  bottom: 2rem;
  left: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  z-index: 100;
  transition: color 600ms ease;
}
.creation:hover .creation__title {
  color: #000000;
}

.footer {
  background-color: #000000;
  padding-block: 5.6rem;
}
.footer .wrapper {
  display: grid;
  gap: 4rem;
}
.footer__logo {
  margin: auto;
}
.footer__credit {
  color: #ffffff;
  opacity: 0.5;
  text-align: center;
  margin-top: -2.4rem;
}

.footer-nav {
  display: grid;
  gap: 1.6rem;
  justify-items: center;
  padding: 0;
}
.footer-nav__link {
  color: #ffffff;
  font-family: "Alata", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: 0;
  text-decoration: none;
  position: relative;
}
.footer-nav__link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 300ms ease;
  transform: translateX(-50%);
  bottom: -0.5rem;
  left: 50%;
}
.footer-nav__link:hover::after {
  width: 80%;
}

.social-media {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  padding: 0;
}

@media (min-width: 48rem) {
  .header__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 7.2rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    bottom: 40%;
  }
  .about__content {
    max-width: none;
  }
  .about__content {
    gap: 2.4rem;
  }
  .footer .wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }
  .footer__logo {
    order: 1;
    margin: 0;
  }
  .footer__credit {
    order: 4;
    margin: 0;
    text-align: end;
  }
  .footer-nav {
    display: flex;
    order: 3;
  }
  .social-media {
    order: 2;
    justify-self: end;
  }
  .creation__title {
    max-width: 15rem;
  }
  .creations__title {
    margin-bottom: 0;
  }
}
@media (min-width: 90rem) {
  .nav__logo {
    height: min-content;
  }
  .nav__menu {
    display: none;
  }
  .nav__list {
    inset: 0;
    position: relative;
    background-color: transparent;
    display: flex;
    width: fit-content;
  }
  .nav__link::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 300ms ease;
    transform: translateX(-50%);
    bottom: -0.5rem;
    left: 50%;
  }
  .nav__link:hover::after {
    width: 80%;
  }
  .about .wrapper {
    position: relative;
  }
  .about__image {
    width: 70%;
  }
  .about__content {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    max-width: 54rem;
    min-height: 37rem;
    padding: 9.6rem 0 0 9.6rem;
    gap: 2.4rem;
  }
  .creations .wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
  }
  .creations__title {
    text-align: start;
    margin: 0;
  }
  .creations__list {
    grid-template-columns: repeat(4, 1fr);
    order: 3;
    grid-column: 1/3;
    gap: 3.2rem;
  }
  .creations__button {
    order: 2;
    justify-self: end;
    align-self: center;
    margin: 0;
  }
  .creation__image {
    min-height: 45rem;
  }
  .creation__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    bottom: 3.2rem;
    inset-inline: 4rem;
    max-width: none;
  }
  .creation::after {
    inset: 30% 0 0 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 60%);
    z-index: 10;
  }
}

/*# sourceMappingURL=style.css.map */
